# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# macOS
.DS_Store

# Dati generati localmente
/data/raw/*.csv
/data/processed/*.csv
/data/output/*.csv
/data/output/*.json

# Mantieni i file README nelle cartelle dati
!/data/**/README.md
